<section
  id="hero"
  class="d-flex flex-column justify-content-center align-items-center"
>
  <div class="landing-title">
    <h1>Hi, I&#39;m<span class="highlight-title">{{site.username}}</span></h1>
    <p>
      A
      <span
        class="typed"
        data-typed-items="Student, Weeb, Photographer, Developer"
        style="font-size: 0.5em"
      >
      </span>
    </p>

    <div style="width: 450px; text-align: center">
      <h6 style="color: #e0e0e0">{{site.about}}</h6>
    </div>
  </div>
</section>
